.a {

    word-break: keep-all;
}

.h1 {

  word-break: keep-all;

}

@font-face { font-family: 'NanumBarunGothic';
src: url('../fonts/NanumBarunGothic.eot');
src: url('../fonts/NanumBarunGothic.eot') format('embedded-opentype'),
url('../fonts/NanumBarunGothic.woff') format('woff');}
body {font-family: 'NanumBarunGothic', 'serif';}
