<style type="text/css">
  .copyright {
    width: 100%;

  }
</style>


<div class="card border-success mb-3">
  <div class="card-header">저작권 및 면책특권 고지</div>
  <div class="card-body">
    <p class="card-text" width="505px" style="color:black">
      이 홈페이지는 개발자 안선모에 의해 개발되었으며, 개발자 안선모는 별도로 저작권를 고지하지 않은 모든 항목에 대한 무제한적인 소유권(저작권)을 가집니다. 본 사이트의 전체 또는 일부의 무단 전재 및 복사, 추가 가공 후 사용을 금하며, 본 사이트의 개발자는 사이트가 올바르게 구동되도록 최선을 다하지만 개발자의 착오 또는 능력부족으로 인하여 발생하는 모든 사고애 대해 형사/민사적 책임을 지지 않습니다.</p>
  </div>
</div>


<!--
<script src="./js/w3.js"></script>
<div w3-include-html="./partials/upperbar.html"></div>
<script>
w3.includeHTML();
</script>
-->
