<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="./source/positive-vote.png" width="70px" />
  <a class="navbar-brand" href="./index.html">HYGE 투표시스템</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <!--
      <li class="nav-item active">
        <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link" href="./index.html">홈</a>
      </li>
      
    </ul>
  </div>
</nav>
