
<script type="text/javascript">
var bDisplay = true;
function doDisplay(){
    var con = document.getElementById("myDIV");
    if(con.style.display=='none'){
        con.style.display = 'block';
    }else{
        con.style.display = 'none';
    }
}
</script>

<a href="javascript:doDisplay();">> 내용보기</a><br/><br/>
<div style="display:none"id="myDIV">
    <h1>내용을 접거나 펴는 방법</h1>
    <p>display block 속성값은 내부 요소를 나타나게 하며 none 는 사라지게 합니다.</p>
</div>
