<footer class="footer mt-auto py-3" style="text-align:center;">
  <div class="container">
    <span class="text-muted">Copyright 2019. 안선모   All page content is property of 안선모.</br>모든 콘텐츠는 저작권법의 보호를 받은바, 웹사이트 일부 또는 전체의 무단 전재와 복사, 배포, 재가공 등을 금합니다.</br>단, <a href="copyright.html">외부저작권목록<a>에 기재되거나 따로 저작권자를 명시한 자료는 예외입니다.</span>
  </div>
</footer>
