<ul id="lnb">
  <li id="i1" class="i1"><a href="./terms.html">이용약관</a></li>
  <li id="i2" class="i2 on"><a href="./privacy.html">개인정보처리방침</a></li>
  <li id="i3" class="i5"><a href="./disclaimer.html">책임의 한계와 법적고지</a></li>
</ul>
